/* This style sheet makes changes for viewports of max-width 500px */

/* Header changes */
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.port-text {
  float:none;
  text-align: center;
  margin-top: 20px;
}

/* Diet section image change */
.title-Small {
  display: block;
}
.title-Feature {
  display: none;
}

.descriptions-Div {
  padding: 0;
}

/* Change in layout of the contact image */
.contact-icon {
  display: block;
  margin: 5px auto 10px auto;
}
